body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  color: #212121;
  font-size: 18px;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container .work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.logotype {
  font-family: 'Raleway', 'Roboto';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  margin-right: 93px;
}

.logotype:hover {
  color: #2196f3;
  text-decoration: none;
}

.logotype .logotype__textone {
  color: #2196f3;
}

.logotype .logotype__texttwo {
  color: #000000;
}

.navigation-logotip {
  display: flex;
  align-items: center;
}

.right-navigation {
  margin-left: auto;
}

.right-navigation .navigation-contacts-mail__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: block;
  padding: 32px 0;
  margin-right: 50px;
}

.right-navigation .navigation-contacts-tel__item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: block;
  padding: 32px 0;
}

.current {
  color: #2196f3;
}

.current::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation .navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation .navigation__item__link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation :hover,
.navigation :focus {
  color: #2196f3;
  text-decoration: none;
}

.link .contacts-link {
  display: inline-flex;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover, .contacts-link:focus {
  color: #2196f3;
}

.contacts-link .navigation__icon-adress {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  color: #ffffff;
  align-items: center;
  text-align: center;
}

.hero .hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

.hero .hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.about-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px 32px;
  border: none;
  font-family: inherit;
  background: #2196f3;
  cursor: pointer;
  display: inline-block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-btn:hover, .about-btn:focus {
  background-color: #188ce8;
}

.button-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text:hover, .button-text:focus {
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.navigations-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  margin-bottom: 50px;
}

.navigations-btn .navigations-btn-item:not(:last-child) {
  margin-right: 8px;
}

.modal-btn {
  position: absolute;
  min-width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-windiw__btn-close {
  position: absolute;
  right: 8px;
  height: 30px;
  top: 8px;
  width: 30px;
  background: #ffffff;
  color: #000000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-windiw__btn-close:hover, .modal-windiw__btn-close:focus {
  color: #2196f3;
}

.modal-windiw__btn-close .modal-windiw__icon-close {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.form-modal__submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-modal__form-button {
  text-align: center;
  padding: 10px 32px;
  min-width: 200px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__form-button:focus, .form-modal__form-button:hover {
  background-color: #188ce8;
}

.mailing-btn {
  align-self: flex-end;
  display: inline-flex;
  position: relative;
  padding: 10px 29px;
  width: 200px;
  height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-footer-button__telegram-footer {
  position: absolute;
  fill: #ffffff;
  right: 28px;
  bottom: 13px;
}

.feature {
  padding-bottom: 0;
}

.feature__icon {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
}

.feature__icon .feature__icon-svg {
  width: 70px;
  height: 70px;
}

.feature__list {
  flex-basis: calc((100% - 3 * 30px) / 4);
}

.feature__list:not(:first-child) {
  margin-left: 30px;
}

.feature__list .feature__item-title {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature__list .feature__item-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}

.feature-sections {
  padding-top: 94px;
}

.feature-sections .feature-box {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.work__item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__item .work__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  text-align: center;
}

.work-position {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work__list {
  display: flex;
  padding: 0;
}

.team__background {
  flex-basis: calc((100% - 3 * 30px) / 4);
  text-align: center;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__background:not(:last-child) {
  margin-right: 30px;
}

.info-cards {
  padding: 30px 24px;
}

.info-cards .team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 0;
}

.info-cards .team__about {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-position {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  background: #f5f4fa;
}

.team .team__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.cards {
  padding: 0;
  margin-top: 20px;
}

.cards-social {
  display: flex;
  justify-content: space-between;
}

.cards-social .cards-social__item:not(:last-child) {
  margin-right: 10px;
}

.cards-social__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-social__link:hover, .cards-social__link:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 50%;
}

.cards-social__link .cards-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.partners-position {
  padding-top: 94px;
  padding-bottom: 94px;
}

.partners__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  padding: 0;
}

.partners__item:not(:last-child) {
  margin-right: 30px;
}

.partners__link {
  display: inline-flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:hover, .partners__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.partners__link .partners__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer__logo .logotype__footer {
  color: #ffffff;
}

.footer__social {
  margin-left: 70px;
}

.footer-position {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background: #2f303a;
  color: #ffffff;
}

.footer .footer__bottom-text {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.address-position {
  margin-top: 20px;
}

.address .address__list {
  margin-top: 9px;
}

.address .address__link {
  color: rgba(255, 255, 255, 0.6);
}

.address .address__link:not(:last-child) {
  margin-bottom: 9px;
}

.cards-social__list-item {
  margin-top: 20px;
}

.cards-social__list-item:not(:last-child) {
  margin-right: 10px;
}

.cards-social__footer-link {
  color: #ffffff;
  background-color: #44454e;
  border-radius: 50%;
  display: inline-flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-social__footer-link:hover, .cards-social__footer-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.cards-social__footer-link .cards-social__footer-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.mailing-position {
  margin-left: auto;
}

.mailing .mailing__footer {
  display: flex;
}

.mailing .mailing__form-input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.mailing .mailing__form-input:focus, .mailing .mailing__form-input:hover {
  border: 1px solid #2196f3;
}

.content-portfolio-link {
  line-height: 2;
  letter-spacing: 0.06em;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.content-portfolio-link:hover, .content-portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-portfolio-link .portfolio-link:hover .text-overlay,
.content-portfolio-link .portfolio-link:focus .text-overlay {
  opacity: 1;
  transform: translateY(0);
}

.content-bg {
  position: relative;
  overflow: hidden;
}

.content-bg .text-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  opacity: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-botton {
  border-right: 1px solid #ececec;
  padding: 20px 24px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
}

.content-botton .content-portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio .content-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * 30px);
  margin-bottom: calc(-1 * 30px);
  padding: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.form-modal-windiw {
  width: 448px;
  height: 342px;
  margin: auto;
}

.form-modal .form-modal__top-text-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-modal .form-modal__form-field + .form-modal__form-field {
  margin-top: 10px;
}

.form-modal__form-field {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.form-modal__form-field .form-modal__form-input {
  width: 448px;
  height: 40px;
  font-size: 14px;
  padding-left: 32px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #212121;
}

.form-modal__form-field .form-modal__form-input:focus, .form-modal__form-field .form-modal__form-input:hover {
  border-color: #2196f3;
  outline: none;
  border: 1px solid #2196f3;
}

.form-modal__form-field .form-modal__form-input:hover + .form-modal__form-icon,
.form-modal__form-field .form-modal__form-input:focus + .form-modal__form-icon {
  fill: #2196f3;
}

.form-modal__form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-modal__form-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  margin: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: #212121;
  font-size: 14px;
  resize: none;
  box-shadow: none;
}

.form-modal__comment:hover, .form-modal__comment:focus {
  border-color: #2196f3;
  outline: none;
}

.form-modal__policy {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.form-modal__policy .form-modal__policy-modal {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-left: 12px;
  font-size: 14px;
  line-height: 1.71;
}

.form-modal__policy .form-modal__policy-modal input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form-modal__policy .form-modal__policy-modal a {
  color: #2196f3;
  margin-left: 4px;
  text-decoration: underline;
}

.form-modal__icon-check {
  width: 15px;
  margin-right: 8px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: #ffffff;
}

.checkbox-hidden:checked ~ .form-modal__icon-check {
  background-color: #2196f3;
  border-color: #2196f3;
  background-size: contain;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=main.css.map */