body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  color: #212121;
  font-size: 18px;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.container {
  display: block;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: #212121;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .header .container {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .work__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.images {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 1200px) {
  .header .logotope {
    margin-right: 93px;
  }
}

.logotype {
  font-family: 'Raleway', 'Roboto';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.logotype:hover {
  color: #2196f3;
  text-decoration: none;
}

.logotype .logotype__textone {
  color: #2196f3;
}

.logotype .logotype__texttwo {
  color: #000000;
}

.navigation {
  display: flex;
  align-items: center;
}

.burger-menu {
  display: block;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
}

.burger-menu__icon {
  width: 24px;
  height: 24px;
  fill: #212121;
}

.menu-container {
  display: flex;
  flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    padding: 10px 15px 48px 40px;
    display: none;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (max-width: 767px) {
  .menu-container.is-open {
    position: fixed;
    display: flex;
    flex-direction: column;
    transform: translateX(0);
  }
}

.burger-menu--right {
  margin-left: auto;
}

.burger-menu__icon--small {
  width: 18px;
  height: 18px;
}

.header-menu {
  display: block;
  padding: 0;
}

.header-menu__link {
  position: relative;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  align-items: center;
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 40px;
  line-height: 1.175;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu__link--active {
  color: #2196f3;
}

.header-menu__link--flex {
  display: inline-flex;
  color: #757575;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
}

.header-menu__link--flex--small {
  font-size: 24px;
  line-height: 1.17;
}

.header-menu--right {
  margin-top: auto;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column-reverse;
}

.header-menu__icon {
  display: none;
}

.header-social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.header-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.header-social__item:not(:first-child) {
  padding-left: 10px;
}

.header-social__link {
  text-decoration: none;
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .logotype {
    margin-right: 88px;
  }
}

@media screen and (min-width: 767px) {
  .burger-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    margin-right: 84px;
  }
}

@media screen and (min-width: 767px) {
  .header-menu {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }
  .header-menu .header-menu--right {
    margin: 0;
    margin-left: auto;
    display: block;
    padding-top: 21px;
    text-align: left;
  }
  .header-menu .header-menu--right :hover,
  .header-menu .header-menu--right :focus {
    color: #2196f3;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  .header-menu__link--active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

@media screen and (min-width: 768px) {
  .header-menu__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .header-menu__list + .header-menu__list {
    margin-left: 50px;
  }
}

@media screen and (min-width: 767px) {
  .header-menu--right {
    margin: 0;
    margin-left: auto;
    display: block;
    padding-top: 21px;
    text-align: left;
  }
  .header-menu--right :hover,
  .header-menu--right :focus {
    color: #2196f3;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-menu--right .header-menu__list {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-menu--right .header-menu__list:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .header-menu__link--flex {
    padding: 0;
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .header-menu__icon {
    display: block;
    height: 14px;
    margin-right: 10px;
    fill: currentColor;
  }
}

@media screen and (min-width: 767px) {
  .header-social {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .logotype {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 1200px) {
  .header-menu--right {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.hero {
  color: #ffffff;
  align-items: center;
  text-align: center;
}

.hero .hero__title {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
}

.hero__overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero__overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .hero__overlay {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop.jpg);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-desktop@2x.jpg);
  }
}

.about-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: #ffffff;
  padding: 10px 32px;
  border: none;
  font-family: inherit;
  background: #2196f3;
  cursor: pointer;
  display: inline-block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-btn:hover, .about-btn:focus {
  background-color: #188ce8;
}

.button-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-text:hover, .button-text:focus {
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.navigations-btn {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  padding: 0;
  text-align: center;
  margin-left: calc(-1 * 8px);
}

.navigations-btn .navigations-btn-item {
  margin-left: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .navigations-btn {
    justify-content: center;
    margin-bottom: 30px;
  }
}

.modal-btn {
  position: absolute;
  width: 100%;
  max-width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: perspective(600px) translate(-50%, -50%) rotateX(0deg);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden .modal-btn {
  transform: perspective(600px) translate(-50%, -150%) rotateX(45deg);
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .modal-btn {
    min-width: 528px;
    min-height: 581px;
  }
}

@media screen and (max-height: 610px) {
  .modal-btn {
    top: 0;
    left: 50%;
    transform: perspective(600px) translate(-50%, 0) rotateX(0deg);
  }
}

.modal-windiw__btn-close {
  position: absolute;
  right: 8px;
  height: 30px;
  top: 8px;
  width: 30px;
  background: #ffffff;
  color: #000000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-windiw__btn-close:hover, .modal-windiw__btn-close:focus {
  color: #2196f3;
}

.modal-windiw__btn-close .modal-windiw__icon-close {
  width: 11px;
  height: 11px;
  fill: currentColor;
}

.form-modal__submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-modal__form-button {
  text-align: center;
  padding: 10px 32px;
  min-width: 200px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__form-button:focus, .form-modal__form-button:hover {
  background-color: #188ce8;
}

.mailing-btn {
  align-self: flex-end;
  display: inline-flex;
  position: relative;
  padding: 10px 29px;
  width: 200px;
  height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-footer-button__telegram-footer {
  position: absolute;
  fill: #ffffff;
  right: 28px;
  bottom: 13px;
}

.feature__icon {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
}

.feature__icon .feature__icon-svg {
  width: 70px;
  height: 70px;
}

.feature__list {
  margin-bottom: 30px;
}

.feature__list .feature__item-text {
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
}

.feature__item-title {
  color: #212121;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.feature-sections {
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature-box {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .feature__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) {
  .feature__list {
    margin-bottom: 0;
    flex-basis: calc((100% - 1 * 30px) / 2);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature__list {
    margin-bottom: 0;
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

@media screen and (min-width: 768px) {
  .feature__list:nth-child(2n-1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__list:nth-child(2n-1) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature__list:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .feature__item-title {
    text-align: left;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.work-none {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work-none {
    display: block;
  }
}

.work__item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__item .work__overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  text-align: center;
}

.work-position {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work__list {
  display: flex;
  padding: 0;
}

.info-cards {
  padding: 30px 24px;
}

.info-cards .team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 0;
}

.info-cards .team__about {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-position {
  padding-top: 60px;
  padding-bottom: 60px;
}

.team {
  background: #f5f4fa;
}

.cards {
  padding: 0;
  margin-top: 20px;
}

.cards-social {
  display: flex;
  justify-content: center;
  padding: 0;
}

.cards-social .cards-social__item:not(:last-child) {
  margin-right: 10px;
}

.cards-social__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-social__link:hover, .cards-social__link:focus {
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 50%;
}

.cards-social__link .cards-social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team__list {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.team__background {
  text-align: center;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__background:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 768px) {
  .team__background {
    flex-basis: calc((100% - 1 * 30px) / 2);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__background:nth-child(2n-1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__background {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__background:nth-child(2n-1) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__background:not(:last-child) {
    margin-right: 30px;
  }
}

.partners-position {
  padding-top: 60px;
  padding-bottom: 60px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: -30px;
}

.partners__link {
  display: flex;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__link:hover, .partners__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.partners__link .partners__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.partners__item {
  margin-bottom: 30px;
  width: calc((100% - 1 * 30px) / 2);
}

.partners__item:nth-child(2n-1) {
  margin-right: 30px;
}

@media screen and (min-width: 768px) {
  .partners__item {
    width: calc((100% - 2 * 30px) / 3);
  }
}

@media screen and (min-width: 768px) {
  .partners__item:nth-child(2n-1) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .partners__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .partners__item {
    width: calc((100% - 5 * 30px) / 6);
  }
}

@media screen and (min-width: 1200px) {
  .partners__item:not(:last-child) {
    margin-right: 30px;
  }
}

.footer__logo {
  display: block;
}

.footer__logo .logotype__footer {
  color: #ffffff;
}

.footer {
  background: #2f303a;
  color: #ffffff;
}

.address-position {
  margin-top: 20px;
}

.address .address__list {
  margin-top: 9px;
}

.address .address__link {
  color: rgba(255, 255, 255, 0.6);
}

.address .address__link:not(:last-child) {
  margin-bottom: 9px;
}

.cards-social__list-item {
  margin-top: 20px;
}

.cards-social__list-item:not(:last-child) {
  margin-right: 10px;
}

.cards-social__footer-link {
  color: #ffffff;
  background-color: #44454e;
  border-radius: 50%;
  display: inline-flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-social__footer-link:hover, .cards-social__footer-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.cards-social__footer-link .cards-social__footer-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.mailing .mailing__footer {
  display: block;
}

.mailing .mailing__form-input {
  margin-right: 12px;
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  padding: 15px 16px;
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.mailing .mailing__form-input:focus, .mailing .mailing__form-input:hover {
  border: 1px solid #2196f3;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.footer .footer__box {
  margin-bottom: 60px;
}

.footer .logotype {
  margin-bottom: 20px;
  margin-right: 0;
  font-family: 'Raleway', 'Roboto';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  align-items: center;
  display: block;
}

.footer__social {
  margin-bottom: 60px;
}

.footer__bottom-text {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
}

@media screen and (min-width: 768px) {
  .mailing-btn {
    display: flex;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .mailing-position {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__bottom-text {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer .footer__logo {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .mailing .mailing__form-input {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer__logo {
    justify-content: space-between;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer__box {
    margin-right: 93px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing__footer {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1200px) {
  .mailing .mailing__form-input {
    width: 358px;
    margin-right: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .mailing-position {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .mailing-btn {
    display: inline-flex;
  }
}

@media screen and (max-width: 767px) {
  .products__image {
    width: 100%;
    height: 100%;
  }
  .content-portfolio .content-portfolio-link {
    line-height: 2;
    width: 100%;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
  }
  .content-portfolio .content-portfolio-link:hover, .content-portfolio .content-portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .content-portfolio .content-portfolio-link .portfolio-link:hover .text-overlay,
  .content-portfolio .content-portfolio-link .portfolio-link:focus .text-overlay {
    opacity: 1;
    transform: translateY(0);
  }
}

.content-portfolio-link {
  line-height: 2;
  width: 100%;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.content-portfolio-link:hover, .content-portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content-portfolio-link .portfolio-link:hover .text-overlay,
.content-portfolio-link .portfolio-link:focus .text-overlay {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  height: 100%;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-bg {
  position: relative;
  overflow: hidden;
}

.content-bg .text-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  opacity: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.content-botton {
  flex-grow: 1;
  border-right: 1px solid #ececec;
  padding: 20px 24px;
  border-bottom: 1px solid #ececec;
  border-left: 1px solid #ececec;
}

.content-botton .content-portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .products {
    margin-bottom: calc(-1 * 30px);
  }
}

@media screen and (min-width: 768px) {
  .content-portfolio-link {
    width: calc((100% - 30px) / 2);
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .content-portfolio-link:nth-child(2n-1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__button-list {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .content-portfolio-link:nth-child(2n-1) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .content-portfolio-link:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}

.backdrop {
  position: fixed;
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.form-modal-windiw {
  height: 342px;
  margin: auto;
}

.form-modal .form-modal__top-text-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-modal .form-modal__form-field + .form-modal__form-field {
  margin-top: 10px;
}

.form-modal__form-field {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.form-modal__form-field .form-modal__form-input {
  width: 100%;
  height: 40px;
  font-size: 14px;
  padding-left: 32px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #212121;
}

.form-modal__form-field .form-modal__form-input:focus, .form-modal__form-field .form-modal__form-input:hover {
  border-color: #2196f3;
  outline: none;
  border: 1px solid #2196f3;
}

.form-modal__form-field .form-modal__form-input:hover + .form-modal__form-icon,
.form-modal__form-field .form-modal__form-input:focus + .form-modal__form-icon {
  fill: #2196f3;
}

.form-modal__form-field label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-modal__form-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  margin: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: #212121;
  font-size: 14px;
  resize: none;
  box-shadow: none;
}

.form-modal__comment:hover, .form-modal__comment:focus {
  border-color: #2196f3;
  outline: none;
}

.form-modal__policy {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.form-modal__policy .form-modal__policy-modal {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.17;
}

.form-modal__policy .form-modal__policy-modal input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form-modal__policy .form-modal__policy-modal a {
  color: #2196f3;
  margin-left: 4px;
  text-decoration: underline;
}

.form-modal__icon-check {
  width: 15px;
  margin-right: 8px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: #ffffff;
}

.checkbox-hidden:checked ~ .form-modal__icon-check {
  background-color: #2196f3;
  border-color: #2196f3;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1200px) {
  .form-modal__policy .form-modal__policy-modal {
    font-size: 14px;
    line-height: 1.71;
    padding-left: 12px;
  }
}
/*# sourceMappingURL=main.css.map */