.feature {
}
.feature__icon {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background-color: $color-team;
  justify-content: center;
  align-items: center;
  .feature__icon-svg {
    width: 70px;
    height: 70px;
  }
}

.feature__list {
  // flex-basis: calc((100% - 3 * 30px) / 4);
  margin-bottom: 30px;
  // &:not(:first-child) {
  //   margin-left: 30px;
  // }

  .feature__item-text {
    color: $secondary-color;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.71;
  }
}
.feature__item-title {
  color: $main-color;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}
// mobil >>>>>>

.feature-sections {
  padding-top: 60px;
  padding-bottom: 60px;
}
.feature-box {
  // display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
// 767+>>>>>
@media screen and (min-width: 768px) {
  .feature__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
  }
}
@media screen and (min-width: 768px) {
  .feature__list {
    margin-bottom: 0;
    flex-basis: calc((100% - 1 * 30px) / 2);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    margin-bottom: 0;
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}
@media screen and (min-width: 768px) {
  .feature__list:nth-child(2n-1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list:nth-child(2n-1) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .feature__list:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature__item-title {
    text-align: left;
  }
}
