.navigation-logotip {
  display: flex;
  align-items: center;
}
.right-navigation {
  margin-left: auto;
  .navigation-contacts-mail__item {
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondary-color;
    display: block;
    padding: 32px 0;
    margin-right: 50px;
  }
  .navigation-contacts-tel__item {
    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $secondary-color;
    display: block;
    padding: 32px 0;
  }
}

.current {
  color: $accent;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: $accent;
    border-radius: 2px;
  }
}

.navigation {
  display: flex;
  align-items: center;
  .navigation__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  .navigation__item__link {
    position: relative;
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $main-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  & :hover,
  & :focus {
    color: $accent;
    text-decoration: none;
  }
}

.link .contacts-link {
  display: inline-flex;
  color: $secondary-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link {
  &:hover,
  &:focus {
    color: $accent;
  }
  .navigation__icon-adress {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
}
